/* Styles pour le layout général */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #fff;
  }
  
  .mat-sidenav-container {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .app-sidenav {
    background-color: #3f51b5; /* Same as login card button background */
    color: #fff;
    width: 230px; /* Ensure both sidenavs have the same width */
  }
  
  .mat-toolbar {
    background-color: rgba(252, 255, 96, 0.8); /* Replace 'your-color' with your desired color */
  }
  
  mat-toolbar span, mat-toolbar mat-icon, mat-sidenav mat-icon {
    color: #fff;
  }
  
  .toolbar-button {
    color: #fff;
  }
  
  mat-nav-list a {
    color: #fff;
  }
  
  mat-nav-list a.mat-list-item {
    display: flex;
    align-items: center;
    padding: 16px;
  }
  
  mat-nav-list a.mat-list-item mat-icon {
    margin-right: 16px;
  }
  
  mat-sidenav-content {
    background: url('https://chattahoochee.whitewaterexpress.com/wp-content/uploads/sites/4/2020/03/yellow-bike-rentals-chattahoochee-whitewater-express-2-e1598905480969.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .avatar {
    border-radius: 50%;
  }
  
  .toolbar-separator {
    flex: 1;
  }
  
  /* Styles pour le header */
  .header {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
    color: #3f51b5; /* Add a nice color to the header */
    font-size: 18px; /* Adjust this value as needed */
  }




  