.form-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  rgba(252, 255, 96, 0.8); /* Couleur rose */
  padding: 10px;
  border-radius: 10px;
  max-width: 300px; /* Pour rendre le formulaire plus compact */
  margin: auto; /* Pour centrer le formulaire */
}

.form-row {
  display: flex;
  justify-content: center;
  width: 100%;
}
.bicycle-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  width: 80%; /* Adjust as needed */
  margin-bottom: 16px;
  border-radius: 50px; /* Circular border */
  background-color: #f8bbd0; /* Pink background color */
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 16px; /* Padding to ensure circular borders appear correctly */
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
  margin-top: 16px;
}

.mat-raised-button {
  border-radius: 50px; /* Circular borders for buttons */
}

.form-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  rgba(252, 255, 96, 0.8); /* Couleur rose */
  padding: 10px;
  border-radius: 10px;
  max-width: 300px; /* Pour rendre le formulaire plus compact */
  margin: auto; /* Pour centrer le formulaire */
}

.form-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-item {
  margin: 5px;
}

mat-form-field {
  width: 100%;
  height: 100%;
  border-radius: 20px; /* Bordures arrondies */
}

mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
  border-radius: 20px; /* Bordures arrondies */
}

.example-button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  border-radius: 20px; /* Bordures arrondies pour les boutons */
}

.form-item {
  margin: 50px;
}

mat-form-field {
  width: 100%;
  border-radius: 20px; /* Bordures arrondies */
}

mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
  border-radius: 20px; /* Bordures arrondies */
}

.example-button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  border-radius: 20px; /* Bordures arrondies pour les boutons */
}

.mat-table {
  border-collapse: 0;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

/* Apply CSS to remove white space around form elements */
.form-grid {
margin-left: 0;
padding-right: 0;
}